body {
	font: 18px Georgia, Times, "Times New Roman", serif;
	line-height: 28px;
	color: #333;
	margin: 80px 10%;
	max-width: 800px;
	width: 80%;
}

h1 {
	font: 36px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: crimson;
}

small {
	font: 14px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-transform: uppercase;
}

p {
	margin: 0 0 15px 0;
}

.btn {
	font: 18px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	background: gainsboro;
	margin: 10px 0;
	padding: 15px;
}

.btn:hover {
	background: crimson;
	color: white;
}